<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<servers>
		<server>
			<id>MuleRepository</id>
			<username>${{secrets.NEXUS_USERNAME}}</username>
			<password>${{secrets.NEXUS_PASSWORD}}</password>
		</server>
		<server>
			<id>anypoint-exchange-v3</id>
			<username>~~~Client~~~</username>
			<password>$${{secrets.CONNECTED_APP_CLIENT_ID}}~?~$${{secrets.CONNECTED_APP_CLIENT_SECRET}}</password>
		</server>
	</servers>
	<pluginGroups>
		<pluginGroup>org.mule.tools</pluginGroup>
	</pluginGroups>
	<profiles>
		<profile>
			<id>mule-extra-repos</id>
			<activation>
				<activeByDefault>true</activeByDefault>
				<jdk>1.8</jdk>
			</activation>
			<repositories>
				<repository>
					<id>mule-public</id>
					<url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
				</repository>
				<repository>
					<id>mavenrepo</id>
					<url>https://repo1.maven.org/maven2</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<id>mule-public</id>
					<url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>Mule</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>MuleRepository</id>
					<name>MuleRepository</name>
					<url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>anypoint-exchange-v3</id>
					<name>Archetype</name>
					<url>https://maven.anypoint.mulesoft.com/api/v3/maven</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
